@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* width */
  --max-layout-width: 800px;
  /* padding */
  --side-padding: 10px;
  /* color */
  --primary-01: #e3364b;
  /* z-index */
  --z-header: 1000;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-size: 1.4rem;
  line-height: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}